<div id = "editEmpDetails">
	<a ui-sref ="welcome">Back to Home Page</a>
	<br>
	<p>Employee Id :<input type = "text" ng-model = "employee.employeeId" disabled = "true"></p>
	<p>Employee Name: <input type="text" ng-model="passedEmployee.employeeFullName"></p>
	<p>Employee Organisation : <select ng-model = "selectedOrg" ng-options = "x.organisationName for x in organisationList" ng-change = "populateDepartments()"></select></p>
	<p>Employee Department : <select ng-model = "selectedDept" ng-options = "x.departmentName for x in departmentList"></select></p>
	<button ng-click = updateEmployeeDetails() >Update</button>
</div>

